cabal-helper*
out
dist
.ghc-sandbox
.ghcjs-sandbox
.stack-work
.vscode
*/cabal-helper*
*/out
*/dist
*/.ghc-sandbox
*/.ghcjs-sandbox
*/.stack-work
*/.vscode


cabal.config
*.o
*.hi
*.summary
*.tmp
*.ps
*.hp
*.pdf
*.prof
*.aux
*.out
*.sandbox.config
*.log
*.lkshs
*.lkshw
