language: haskell

cache:
  directories:
  - $HOME/.ghc
  - $HOME/.cabal

matrix:
  include:
  - ghc: "8.4"
    env: WAY="--flags=unsafeindices --ghc-options=-O0"
  - ghc: "8.4"
    env: WAY="--flags=-unsafeindices --ghc-options=-O0"
  - ghc: "8.6"
    env: WAY="--flags=unsafeindices --ghc-options=-O0"
  - ghc: "8.6"
    env: WAY="--flags=-unsafeindices --ghc-options=-O0"
  - ghc: "8.8"
    env: WAY="--flags=unsafeindices --ghc-options=-O0"
  - ghc: "8.8"
    env: WAY="--flags=-unsafeindices --ghc-options=-O0"
  - ghc: "8.10"
    env: WAY="--flags=unsafeindices --ghc-options=-O0"
  - ghc: "8.10"
    env: WAY="--flags=-unsafeindices --ghc-options=-O0"
  - ghc: "9.0"
    env: WAY="--flags=unsafeindices --ghc-options=-O0"
  - ghc: "9.0"
    env: WAY="--flags=-unsafeindices --ghc-options=-O0"
  - ghc: "head"
    env: WAY="--flags=unsafeindices --ghc-options=-O0"
  - ghc: "head"
    env: WAY="--flags=-unsafeindices --ghc-options=-O0"
  - ghc: "8.4"
    env: WAY="--flags=unsafeindices --ghc-options=-O"
  - ghc: "8.4"
    env: WAY="--flags=-unsafeindices --ghc-options=-O"
  - ghc: "8.6"
    env: WAY="--flags=unsafeindices --ghc-options=-O"
  - ghc: "8.6"
    env: WAY="--flags=-unsafeindices --ghc-options=-O"
  - ghc: "8.8"
    env: WAY="--flags=unsafeindices --ghc-options=-O"
  - ghc: "8.8"
    env: WAY="--flags=-unsafeindices --ghc-options=-O"
  - ghc: "8.10"
    env: WAY="--flags=unsafeindices --ghc-options=-O"
  - ghc: "8.10"
    env: WAY="--flags=-unsafeindices --ghc-options=-O"
  - ghc: "9.0"
    env: WAY="--flags=unsafeindices --ghc-options=-O"
  - ghc: "9.0"
    env: WAY="--flags=-unsafeindices --ghc-options=-O"
  - ghc: "head"
    env: WAY="--flags=unsafeindices --ghc-options=-O"
  - ghc: "head"
    env: WAY="--flags=-unsafeindices --ghc-options=-O"
  allow_failures:
  - ghc: "head"

before_install:
  - printf "packages\u3A \u2A/\u2A.cabal\n" > cabal.project
  - until curl -sSL https://raw.githubusercontent.com/sol/hpack/main/get-hpack.sh | bash; do sleep 5; done
  - hpack dimensions/package.yaml
  - hpack easytensor/package.yaml

install:
  - cabal new-build all --enable-tests --dependencies-only

script:
  - cabal new-build all --enable-tests $WAY
  - cabal new-test all $WAY
